body {
    background: url("https://mirai.is-my-waifu.com/dcf75d3.png") no-repeat center center fixed;
    color: black;
  }

h1 {
  font-family: 'Pacifico', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}
